
/**-- Pre-loader --**/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }


/**-- Flag discount --**/
.flag-discount{
  width: 52px;
  height: 44px;
  background: url("../images/price-percent-br.png") no-repeat center center;
  color: #fff;
  line-height: normal;
  text-align: center;
  font-size: 14px;
  position: absolute;
  top: 10px;
  right: 0;
  font-family: 'Arial Narrow', Arial, sans-serif;
  padding-left: 5px;
  padding-top: 2px;
  z-index: 2;
}

/**-- ACF Google Maps --**/
.acf-map {
  width: 100%;
  height: 400px;
  border: #ccc solid 1px;
}

/* fixes potential theme css conflict */
.acf-map img {
  max-width: inherit !important;
}

.homeslider .bx-viewport{
  height: 200px;
  overflow: hidden;
}

/***-- No Result --*/
.no-result{
  text-align: center;
  width: 100%;
  padding: 20px;
  background: #fff;
}

/**-- Banner --**/
.banner-boder-zoom:hover a:after {
  opacity: 1;
}
.banner-boder-zoom a:after {
  opacity: 1;
}