/**-- List product category --**/
.product-list-wrap{
  width: 100%;
  display: inline-block;
  background: #fff;
  .product-wrap{
    .product-border{
      padding: 15px;
      //background: url("../images/loading.gif") #fff center no-repeat;
      background-size: 70px;
      cursor: pointer;
      //@include respond-to-custom-size(768px, null){
      //  @include zoomOut();
      //}
      @include respond-to-custom-size(null, 480px){
        width: 100%;
        border-bottom: solid 2px #eaeaea;
      }
      .product-detail{
        position: relative;
        overflow: hidden;
        img{
          width: 100%;
          -webkit-transition: all 0.8s;
          -moz-transition: all 0.8s;
          -ms-transition: all 0.8s;
          -o-transition: all 0.8s;
          transition: all 0.8s;
        }
        .price{
          position: absolute;
          bottom: 0;
          padding: 10px 15px;
          background: rgba(255, 255, 255, 0.76);
          font-weight: bold;
          font-style: italic;
        }
        .product-info{
          /*position: absolute;
          top: 0;
          width: 100%;
          height: 100%;*/
          visibility: hidden;
          .product-name{
            width: 100%;
            visibility: hidden;
            margin-left: 100%;
            padding: 0 10px 10px 10px;
            @include respond-to-custom-size(768px, null) {
              text-shadow: 1px 1px 1px #000;
              -webkit-transition: all 0.5s;
              -moz-transition: all 0.5s;
              -ms-transition: all 0.5s;
              -o-transition: all 0.5s;
              transition: all 0.5s;
            }
          }
          .btn-view-detail{
            width: 100%;
            visibility: hidden;
            margin-left: -100%;
            @include respond-to-custom-size(768px, null){
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
            }
            a{
              padding: 10px 15px;
              display: inline-block;
              color: #fff;
              font-style: italic;
            }
          }
        }
      }
      .hovered{
        img{
          filter: blur(1px);
          -webkit-transform: scale(1.2,1.2);
          -moz-transform: scale(1.2,1.2);
          -ms-transform: scale(1.2,1.2);
          -o-transform: scale(1.2,1.2);
          transform: scale(1.2,1.2);

        }
        .product-info{
          display: block;
          .product-name{
            margin-left: 0;
            color: #fff;
            visibility: visible;
          }
          .btn-view-detail{
            margin-left: 0;
            visibility: visible;
          }
        }
      }
    }
  }
}

/*-- List hot product --*/
.latest-deals-product{
  .product-list li img{
    transform: none;
  }
  .product-list li{
    cursor: pointer;
  }
  .product-list li:hover{
    border: 1px solid #eaeaea;
  }
  .product-list li.hovered {
    border: 1px solid #f96d10;
    img{
      -webkit-transform: scale(1.2,1.2);
      -moz-transform: scale(1.2,1.2);
      -ms-transform: scale(1.2,1.2);
      -o-transform: scale(1.2,1.2);
      transform: scale(1.2,1.2);
    }
    .detail-info {
      top: 0;
      left: 0;
    }
    .btn-detail-view{
      left: 0;
      bottom: 0;
      background: #f96d10;
    }
  }
  .left-block {
    padding: 0 !important;
    .detail-info, .btn-detail-view{
      @include respond-to-custom-size(768px, null){
        -moz-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
      background-color: rgba(0, 0, 0, 0.4);
    }
    .detail-info {
      position: absolute;
      left: -100%;
      right: 0;
      top: -100%;
      text-align: center;
      line-height: 20px;
      width: 100%;
      color: #fff;
      padding: 10px;
    }
    .btn-detail-view{
      position: absolute;
      left: 100%;
      right: 0;
      bottom: -100%;
      text-align: center;
      line-height: 25px;
      width: 100%;
      color: #fff;
      padding: 0;
      a{
        background: url('../images/eye-32.png') no-repeat left center;
        display: inline-block !important;
        padding: 10px 0 10px 40px;
        color: #fff;
      }
    }
  }

  .right-block{
    .content_price{
      font-family: "Open Sans", Arial, sans-serif;
      .price{
        font-family: inherit;
        font-style: italic;
        font-size: 16px;
        font-weight: bold;
      }
      .old-price{
        font-size: 14px;
      }
    }
  }
}
