.product-list-wrap{
  width: 100%;
  display: inline-block;
  .product-wrap{
    .product-border{
      padding: 15px;
      background: #fff;
      @include respond-to-custom-size(null, 480px){
        width: 100%;
      }
      .product-detail{
        position: relative;
        overflow: hidden;
        img{
          width: 100%;
          transition: all 0.5s;
        }
        .price{
          position: absolute;
          bottom: 0;
          padding: 10px 15px;
          background: rgba(255, 255, 255, 0.76);
          font-weight: bold;
          font-style: italic;
        }
        .product-info{
          /*position: absolute;
          top: 0;
          width: 100%;
          height: 100%;*/
          .product-name{
            width: 100%;
            visibility: hidden;
            margin-left: 100%;
            padding: 10px;
            text-shadow: 1px 1px 1px #000;
            transition: all 0.5s;
          }
          .btn-view-detail{
            width: 100%;
            visibility: hidden;
            margin-left: -100%;
            transition: all 0.5s;
            a{
              padding: 10px 15px;
              display: inline-block;
              color: #fff;
              font-style: italic;
            }
          }
        }
      }
      .hovered{
        img{
          filter: blur(1px);
          transform: scale(1.2,1.2);

        }
        .product-info{
          .product-name{
            margin-left: 0;
            color: #fff;
            visibility: visible;
          }
          .btn-view-detail{
            margin-left: 0;
            visibility: visible;
          }
        }
      }
    }
  }
}