/**-- Override css of header --**/
#header{

  /**-- Search --**/
  .advanced-search{
    margin-top: 3px;
    a{
      font-style: italic;
    }
  }

  /**-- Menu header mini --**/
  .support-link .menu-item {
    float: left;
    &:last-child{
      a{
        border-right: 0;
      }
    }
  }

  /**--  --**/
  @include respond-to-custom-size(null, 767px){
    .top-header{
      text-align: center;
      .menu-item{
        float: none;
        display: inline-block;
      }
    }
    .main-header{
      text-align: center;
    }
  }

  /*-- Override CSS for Main menu--*/
  #main-menu{
    .arrow-has-sub{
      display: none !important;
    }
    .menu-menu-header-container{
      .nav.navbar-nav{
        .menu-item{
          position: relative;
          .collapse{
            position: absolute;
            @include respond-to-custom-size(null, 767px){
              position: static;
            }
          }
          .collapse.sub-menu {
            left: 100% !important;
            top: 0 !important;
            bottom: auto !important;
          }
          .collapse.sub-menu.level-0 {
            left: 0 !important;
            top: 100% !important;
          }

          &:hover > {
            .dropdown-menu {
              -webkit-transform: translate(0,0);
              -moz-transform: translate(0,0);
              -o-transform: translate(0,0);
              -ms-transform: translate(0,0);
              transform: translate(0,0);
              opacity: 1;
              visibility: visible;
            }
          }
          .dropdown-menu{
            border-top: solid 1px #F96D10;
            padding: 20px 0;
            @include respond-to-custom-size(null, 767px){
              transform: none;
            }
            .menu-item {
              a{
                padding: 3px 20px;
              }
              a:hover{
                color: #000;
                background-color: #f5f5f5;
              }
            }
          }
        }
      }
    }
    .navbar-header .navbar-toggle {
      border: none;
      margin: 0;
      padding: 13px 17px;
      background-color: #000 !important;
      border-radius: 0;
    }
  }
  .fixed-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
  }
}
