.footer-menu-wrap{
  text-align: center;
  .footer-menu{
    display: inline-block;
  }
}
.footer-block{
  ul{
    li{
      padding-left: 20px;
      position: relative;
      margin-bottom: 10px;
      i{
        position: absolute;
        top: 3px;
        left: 0;
      }
    }
  }
}
