#product .pb-right-column .product-name {
  padding: 0 0px 20px;
}
#product .pb-right-column .form-action .button-group{
  overflow: visible;
}
.product-tab {
  .nav-tab, .tab-container{
      z-index: 0;
  }
}
#product .pb-right-column .form-option .attributes .attribute-label {
  width: 100px;
  float: left;
}
