/** Taxonomy Products **/
.sortPagiBar{
  display: inline-block;
  width: 100%;
  .sort-product{
    margin: 0;
  }
}

.submit-form{
  button{
    padding: 10px;
    width: 100%;
    background: #f96d10 !important;
    color: #fff !important;
  }
  .hvr-radial-out{
    &:before{
      background: #F96D10;
    }
  }

}

/**-- Import --**/
@import "taxonomy-list-product";