.tax-products_taxonomy{
  .product-container{
    padding: 0;
    border: 0;
    .product-detail{
      position: relative;
      .product-info {
        padding: 0 5px;
        position: absolute;
        width: 100%;
        top: -100%;
        text-align: center;
        height: 100%;
        background: rgba(0, 0, 0, 0.58);
        font-size: 15px;
        font-weight: bold;
        color: #fff;
        left: 0;
        transition: top 0.75s;
      }
      .price {
        position: absolute;
        bottom: -100%;
        width: 100%;
        left: 0;
        padding: 10px;
        background: #f96d10;
      }
      .wrapper {
        position: absolute;
        width: 100%;
        left: 0;
        top: 25%;
        padding: 5px;
      }
      .btn-view-detail{
        a{
          padding: 10px;
          color: #fff;
          background: #f96d10;
        }
      }
      .product-thumbnail{
        img{
          width: 100%;
        }
      }
    }
    .product-detail:hover, .product-detail.hovered{
      .product-info {
        top: 0;
      }
    }
  }
  .col-responsive{
    padding: 15px;
    @include respond-to-custom-size(null, 480px){
      width: 100%;
    }
  }
}