/*------------------------------------------------------------------
[Table of contents]
1. Styles for devices(>1200px)
2. Styles for devices(>=992px and <=1199px)
3. Styles for devices(>=768px and <=992px)
4. Styles for devices(>=481px and <=767px)
5. Styles for devices(<=480px)
-------------------------------------------------------------------*/
.flag-discount {
  width: 52px;
  height: 44px;
  background: url("../images/price-percent-br.png") no-repeat center center;
  color: #fff;
  line-height: normal;
  text-align: center;
  font-size: 14px;
  position: absolute;
  top: 10px;
  right: 0;
  font-family: 'Arial Narrow', Arial, sans-serif;
  padding-left: 5px;
  padding-top: 2px;
  z-index: 2;
}

/**-- Override css of header --**/
#header {
  /**-- Search --**/
  /**-- Menu header mini --**/
  /**--  --**/
  /*-- Override CSS for Main menu--*/
}
#header .advanced-search {
  margin-top: 3px;
}
#header .advanced-search a {
  font-style: italic;
}
#header .support-link .menu-item {
  float: left;
}
#header .support-link .menu-item:last-child a {
  border-right: 0;
}
@media only screen and (max-width: 767px) {
  #header .top-header {
    text-align: center;
  }
  #header .top-header .menu-item {
    float: none;
    display: inline-block;
  }
  #header .main-header {
    text-align: center;
  }
}
#header #main-menu .arrow-has-sub {
  display: none !important;
}
#header #main-menu .menu-menu-header-container .nav.navbar-nav .menu-item {
  position: relative;
}
#header #main-menu .menu-menu-header-container .nav.navbar-nav .menu-item .collapse {
  position: absolute;
}
@media only screen and (max-width: 767px) {
  #header #main-menu .menu-menu-header-container .nav.navbar-nav .menu-item .collapse {
    position: static;
  }
}
#header #main-menu .menu-menu-header-container .nav.navbar-nav .menu-item .collapse.sub-menu {
  left: 100% !important;
  top: 0 !important;
  bottom: auto !important;
}
#header #main-menu .menu-menu-header-container .nav.navbar-nav .menu-item .collapse.sub-menu.level-0 {
  left: 0 !important;
  top: 100% !important;
}
#header #main-menu .menu-menu-header-container .nav.navbar-nav .menu-item:hover > .dropdown-menu {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}
#header #main-menu .menu-menu-header-container .nav.navbar-nav .menu-item .dropdown-menu {
  border-top: solid 1px #F96D10;
  padding: 20px 0;
}
@media only screen and (max-width: 767px) {
  #header #main-menu .menu-menu-header-container .nav.navbar-nav .menu-item .dropdown-menu {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}
#header #main-menu .menu-menu-header-container .nav.navbar-nav .menu-item .dropdown-menu .menu-item a {
  padding: 3px 20px;
}
#header #main-menu .menu-menu-header-container .nav.navbar-nav .menu-item .dropdown-menu .menu-item a:hover {
  color: #000;
  background-color: #f5f5f5;
}
#header #main-menu .navbar-header .navbar-toggle {
  border: none;
  margin: 0;
  padding: 13px 17px;
  background-color: #000 !important;
  border-radius: 0;
}
#header .fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

#home-slider .bx-pager {
  padding-right: 0;
}

/**-- List product category --**/
.product-list-wrap {
  width: 100%;
  display: inline-block;
}
.product-list-wrap .product-wrap .product-border {
  padding: 15px;
  background: #fff;
}
@media only screen and (max-width: 480px) {
  .product-list-wrap .product-wrap .product-border {
    width: 100%;
  }
}
.product-list-wrap .product-wrap .product-border .product-detail {
  position: relative;
  overflow: hidden;
}
.product-list-wrap .product-wrap .product-border .product-detail img {
  width: 100%;
  transition: all 0.5s;
}
.product-list-wrap .product-wrap .product-border .product-detail .price {
  position: absolute;
  bottom: 0;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.76);
  font-weight: bold;
  font-style: italic;
}
.product-list-wrap .product-wrap .product-border .product-detail .product-info {
  /*position: absolute;
  top: 0;
  width: 100%;
  height: 100%;*/
}
.product-list-wrap .product-wrap .product-border .product-detail .product-info .product-name {
  width: 100%;
  visibility: hidden;
  margin-left: 100%;
  padding: 10px;
  text-shadow: 1px 1px 1px #000;
  transition: all 0.5s;
}
.product-list-wrap .product-wrap .product-border .product-detail .product-info .btn-view-detail {
  width: 100%;
  visibility: hidden;
  margin-left: -100%;
  transition: all 0.5s;
}
.product-list-wrap .product-wrap .product-border .product-detail .product-info .btn-view-detail a {
  padding: 10px 15px;
  display: inline-block;
  color: #fff;
  font-style: italic;
}
.product-list-wrap .product-wrap .product-border .hovered img {
  -webkit-filter: blur(1px);
          filter: blur(1px);
  -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}
.product-list-wrap .product-wrap .product-border .hovered .product-info .product-name {
  margin-left: 0;
  color: #fff;
  visibility: visible;
}
.product-list-wrap .product-wrap .product-border .hovered .product-info .btn-view-detail {
  margin-left: 0;
  visibility: visible;
}

/*-- List hot product --*/
.latest-deals-product .product-list li:hover .detail-info {
  top: 0;
  left: 0;
}
.latest-deals-product .product-list li:hover .btn-detail-view {
  left: 0;
  bottom: 0;
}
.latest-deals-product .left-block .detail-info, .latest-deals-product .left-block .btn-detail-view {
  transition: all 0.7s ease;
  background-color: rgba(0, 0, 0, 0.4);
}
.latest-deals-product .left-block .detail-info {
  position: absolute;
  left: -100%;
  right: 0;
  top: -100%;
  text-align: center;
  line-height: 20px;
  width: 100%;
  color: #fff;
  padding: 10px;
}
.latest-deals-product .left-block .btn-detail-view {
  position: absolute;
  left: 100%;
  right: 0;
  bottom: -100%;
  text-align: center;
  line-height: 25px;
  width: 100%;
  color: #fff;
  padding: 0;
}
.latest-deals-product .left-block .btn-detail-view:hover {
  background: #f96d10;
}
.latest-deals-product .left-block .btn-detail-view a {
  background: url("../images/eye-32.png") no-repeat left center;
  display: inline-block !important;
  padding: 10px 0 10px 40px;
  color: #fff;
}
.latest-deals-product .right-block .content_price {
  font-family: "Open Sans", Arial, sans-serif;
}
.latest-deals-product .right-block .content_price .price {
  font-family: inherit;
  font-style: italic;
  font-size: 16px;
  font-weight: bold;
}
.latest-deals-product .right-block .content_price .old-price {
  font-size: 14px;
}

/*# sourceMappingURL=main.css.map */
