
.option5 #main-menu .navbar .navbar-nav>li>a span.notify-right{
  top: -20px;
  left: 40%;
  text-transform: uppercase;
}

/*-------------------
[2. Latest deals products]
*/
.latest-deals-product{
  margin-top: 20px;
  position: relative;
}
.latest-deals-product .count-down-time2{
  position: absolute;
  top: -61px;
  right: 80px;
}
.latest-deals-product .product-list li{
  border: 1px solid #eaeaea;
  overflow: hidden;
  padding-bottom: 5px;
}
.latest-deals-product .product-list li:hover{
  border: 1px solid #f96d10;
}
.latest-deals-product .owl-next{
  top: -40px;
}
.latest-deals-product .owl-prev{
  top: -40px;
  left: inherit;
  right: 26px;
}

/*
[3. Products list]
*/
.option5 .product-list li .quick-view{
	right: 10px;
}
.option5 .product-list li .quick-view a:hover{
	background: #f96d10;
}
.option5 .product-list li .quick-view a:hover{
	background: #f96d10;
}
.option5 .product-list li .quick-view a:hover {
	background: #f96d10;
}
.option5 .product-list li .add-to-cart:hover{
	background: #f96d10;
}
.option5 .product-list li .product-price {
	color: #f96d10;
}

/*
[4. Header ]
*/
.option5 .logo{
	text-align: center;
}
.option5 .top-header img {
	margin-top: -5px;
}
.option5 .top-header a.current-open:after{
	font-size: 13px;
}
.option5 .top-header{
	background: #eee;
	font-size: 13px;
}
.option5 .cart-block{
	margin-top: 5px;
}
.option5 .cart-block .cart-block-content .product-info .p-right .p-rice{
	  color: #f96d10;
}
.option5 #shopping-cart-box-ontop .cart-block{
	margin-top: 0;
}
.option5 a:hover{
	color: #f96d10;
}
.option5 .top-header .dropdown-menu{
	border-top: 2px solid #f96d10;
}
.option5 .main-header .header-search-box{
	padding: 0 15px;
}
.option5 .main-header .header-search-box .form-inline .form-category{
	float: right;
	margin-right: 40px;
	border-left: 1px solid #eaeaea;
}
.option5 .main-header .header-search-box .form-inline .input-serach{
	padding-top: 9px;
}
.option5 .main-header .header-search-box .form-inline .btn-search{
	background: none;
	border-left: 1px solid #eaeaea;
	color: #f96d10;
	font-size: 16px;
}
.option5 .main-header .header-search-box .form-inline .btn-search .fa{
	line-height: inherit;
}
.option5 .group-button-header .btn-cart{
	background: url("../images/icon-cart-round5.png") no-repeat center center;
}
.option5 .group-button-header .btn-heart{
	  background: url("../images/icon-heart-round5.png") no-repeat center center;
}
.option5 .group-button-header .btn-compare{
	background: url("../images/icon-compare-round5.png") no-repeat center center;
}

.option5 .nav-top-menu.nav-ontop{
	background: #f96d10;
	height: 51px;
}
.option5 #form-search-opntop .btn-search .fa{
	display: none;
}
.option5 #box-vertical-megamenus{
	width: 85px;
	padding: 0;
}

.option5 #main-menu .navbar{
	border-radius: 0;
	background: #f96d10;
}
.option5 #main-menu .navbar-default .navbar-nav>li>a{
	color: #fff;
	border-right: none;
}
.option5 #main-menu .navbar-default .navbar-nav>li:last-child>a{
	background: none;
}
.option5 #main-menu .navbar .navbar-nav>li:hover,
.option5 #main-menu .navbar .navbar-nav>li.active{
	background-image: none;
	background: #e80000;
}
.option5 #main-menu .navbar .navbar-nav>li:hover a,
.option5 #main-menu .navbar .navbar-nav>li.active a{
	background: none;
}
.option5 #main-menu li.dropdown>a:after{
	position: absolute;
	left: 46%;
	-ms-transform: translateX(-50%);
  	-webkit-transform: translateX(-50%);
  	transform: translateX(-50%);
	top: 15px;
	font-size: 12px;
}
.option5 #main-menu li.dropdown:hover:before{
	display: none;
}

.option5 #main-menu{
	width: 100%;
	padding: 0 15px;
	margin: 0;
	padding-left: 70px;
	margin-top: -1px;
}
.option5 .nav-ontop #box-vertical-megamenus .title{
	background: #000;
	color: #fff;
	border-left: none;
	text-align: center;
	height: 51px;

}
.option5 .nav-ontop #box-vertical-megamenus .title .btn-open-mobile{
	margin: 0;
}
.option5 .nav-ontop #box-vertical-megamenus .box-vertical-megamenus{
	top: 0;
}
.option5 #form-search-opntop .btn-search:before{
	color: #fff;
}
.option5 #form-search-opntop form .input-serach input{
	color: #fff;
}
.option5 #form-search-opntop form .input-serach input::-webkit-input-placeholder { color:#fff; }
.option5 #form-search-opntop form .input-serach input::-webkit-input-placeholder { color:#fff;  }
.option5 #form-search-opntop form .input-serach input::-webkit-input-placeholder { color:#fff; }

.option5 #form-search-opntop:hover form{
  border: 1px solid #dfdfdf;
  background: #f96d10;
}
.option5 #user-info-opntop a.current-open:before {
  color: #fff;
}
.option5 #shopping-cart-box-ontop .fa{
	color: #fff;
}
.option5 .header-top-right{
	border-top: none;
	margin: 0;
	padding: 0 15px;
}
.option5 .header-top-right .homeslider {
	width: 100%;
}
.option5 .header-top-right .homeslider .bx-controls-direction .bx-prev,
.option5 .header-top-right .homeslider .bx-controls-direction .bx-next{
	background: #f96d10;
}
.option5 .header-top-right .homeslider .bx-wrapper .bx-pager,
.option5 .bx-wrapper .bx-controls-auto{
	text-align: center;
}
.option5 .header-top-right .homeslider .bx-wrapper .bx-pager .bx-pager-item a{
	background: #fff;
	font-size: 0;
	border-color: #fff;
	width: 14px;
	height: 14px;
}
.option5 .header-top-right .homeslider .bx-wrapper .bx-pager.bx-default-pager a:hover,
.option5 .header-top-right .homeslider .bx-wrapper .bx-pager.bx-default-pager a.active{
	background: #f96d10;
	border-color: #f96d10;
}

.option5 #main-menu .navbar-default .navbar-nav>li>a {
  color: #fff;
  background: url('../images/kak2.png') no-repeat right center;
  border-right: none;
}

.option5 .box-vertical-megamenus .all-category{
	margin-top: 0px;
	padding-right: 0;
}
.option5 .vertical-dropdown-menu .mega-group-header span{
	border-color: #f96d10;
}
.option5 .box-vertical-megamenus .all-category span:hover{
	background: #f96d10;
	color: #fff;
	border-color: #f96d10;
}
.option5 .box-vertical-megamenus .all-category span:after{
	  content: "\f101";
	  font-size: 16px;
	  font-weight: normal;
}
.option5 .box-vertical-megamenus .vertical-menu-content ul>li>a.parent:before{
	right: 20px;
}
.option5 .vertical-dropdown-menu .mega-products .mega-product .product-price .new-price{
	  color: #f96d10;
}
.option5 .cart-block .cart-block-content .cart-buttons a.btn-check-out{
	background: #f96d10;
}

.option5 .page-heading{
	font-size: 16px;
	font-weight: bold;
}
.option5 .page-heading span.page-heading-title{
	border-bottom: 3px solid #f96d10;
}

.option5 .owl-controls .owl-prev:hover,
.option5 .owl-controls .owl-next:hover {
  background: #f96d10;
  color: #fff;
}

.option5 .content-page {
	background: #eaeaea;
}
.option5 #main-menu .dropdown-menu .block-container .group_header>a{
	border-color: #f96d10;
}

/*-----------------
[6. Banner bootom]
*/
.option5 .banner-bottom .item-left{
	padding-right: 0;
}
.option5 .banner-bottom .item-right{
	padding-left: 0;
}

/** REPONSIVE **/
/*----------------
[11. Styles for devices(>1200px)]
*/
@media (min-width: 1201px){
	
}
/*----------------
[12. Styles for devices(>=993px and <=1200px)]
*/
@media (min-width: 993px) and (max-width: 1200px) {
	.option5 .group-button-header{
		width: 25%;
		float: right;
	}
	.option5 .sub-category-wapper{
		width: 15%;
		display: none;
	}
	.option5 .col-right-tab{
		width: 100%;

	}
	.option5 .product-featured .manufacture-list .manufacture-waper{
		display: none;
	}
	.option5 .product-featured .product-featured-tab-content .category-list-product{
		padding-left: 15px;
	}
	.option5 .product-featured .product-featured-tab-content .category-list-product .product-list{
		border-left: 1px solid #eaeaea;
	}
	.option5 .main-header .header-search-box{
		width: 40%;
	}
	.option5 #home-slider .header-top-right .homeslider, 
	.option5 #home-slider .header-top-right .header-banner{
		border: none;
	}
}
/*--------------------
[13. Styles for devices(>=768px and <=992px)]
*/
@media (min-width: 768px) and (max-width: 992px) {
	.option5 .group-button-header{
		float: right;
		margin-top: 30px;
	}
	.option5 .main-header .logo{
		width: inherit;
		margin-top: 15px;
	}
	.option5 .nav-menu .nav>li>a{
		padding: 14px 10px;
		margin-left: 0;
	}
	.option5 .product-featured .product-featured-tab-content .box-left{
		width: 100%;
	}
	.option5 .product-featured .product-featured-tab-content .box-right{
		width: 100%;
		border-left: 1px solid #eaeaea;
	}
	.option5 .sub-category-wapper{
		width: 20%;
	}
	.option5 .col-right-tab{
		width: 80%;
	}
	.option5 .show-brand .navbar-brand{
		width: 21%;
		padding-right: 30px;
		font-size: 14px;
		font-weight: bold;
	}
	.option5 .product-featured .sub-category-list{
		padding: 10px;
	}
	.option5 .product-featured .box-left .banner-img{
		display: none;
	}
	.option5 .product-featured .manufacture-list .manufacture-waper{
		display: none;
	}
	.option5 .product-featured .product-featured-tab-content .box-full .product-list li{
		width: 33.3333%;
	}
	.option5 .product-featured .product-featured-tab-content .category-list-product{
		padding-left: 15px;
	}
	.option5 .product-featured .product-featured-tab-content .category-list-product .product-list{
		border-left: 1px solid #eaeaea;
	}
	.option5 .product-featured .product-featured-tab-content .category-list-product .product-list li{
		width: 33.3333%;
	}
	
}
/*--------------------
[14. Styles for devices(>=481px and <=767px)]
*/
@media (min-width: 481px) and (max-width: 767px) { 
	.group-button-header{
		margin-top: 30px;
	}
	.option5 .logo{
		margin-top: 15px;
	}
	.main-header .group-button-header .btn-cart:hover .cart-block {
		display: none;
	}
	.option5 .main-header .header-search-box{
		padding-right: 15px;
	}
	.option5 #main-menu .navbar{
		background: none;
	}
	.option5 #main-menu .navbar-header{
		background: #f96d10;
	}
	.option5 #main-menu .navbar-default .navbar-nav>li>a{
		background: none;
		color: #999;
	}
	.option5 #main-menu li.dropdown>a:after {
	  position: absolute;
	  left: inherit;
	  right: 10px;
	  -ms-transform: translateY(-50%);
	  -webkit-transform: translateY(-50%);
	  transform: translateY(-50%);
	  top: 50%;
	  font-size: 12px;
	}
	.option5 #main-menu .navbar .navbar-nav>li:hover,
	.option5 #main-menu .navbar .navbar-nav>li.active{
		background: none;
	}
	.latest-deals-product .count-down-time2{
		position: inherit;
		top: inherit;
		right: inherit;
	}
	.latest-deals-product .owl-prev {
	  top: 50%;
	  left: 0;
	  right: inherit;
	}
	.latest-deals-product .owl-next {
	  top: 50%;
	}
	.option5 .content-page{
		margin-top: 30px;
	}
	.option5 .nav-menu{
		background: #ccc;
	}
	.option5 .nav-menu .nav>li>a{
		margin-left: 0;
		padding: 5px 15px;
	}
	
	.option5 .nav-menu .nav>li>a:after{
		display: none;
	}
	.option5 .product-featured .sub-category-wapper{
		width: 100%;
		padding: 15px;
		display: none;
	}
	.option5 .product-featured .product-featured-tab-content .box-left{
		width: 100%;
		display: none;
	}
	.option5 .product-featured .product-featured-tab-content .box-right{
		width: 100%;
		border-left: 1px solid #eaeaea;
	}
	.option5 .product-featured .deal-product .deal-product-content .deal-product-info{
		padding-left: 15px;
	}
	.option5 .product-featured .product-featured-tab-content .box-full .product-list li{
		width: 50%;
		float: left;
	}
	.services2 .services2-item .image{
		padding: 15px 30px 0 30px;
	}
	.services2 .services2-item .text{
		padding: 15px 30px;
		text-align: center;
	}
	.option5 .product-featured .manufacture-list{
		display: none;
	}
	.option5 .product-featured .product-list li{
		width: 50%;
		float: left;
	}
	.option5 .product-featured .product-featured-tab-content .category-list-product{
		padding-left: 15px;
		border-left: 1px solid #eaeaea;
	}
	.option5 #main-menu{
		padding: 0;
	}
	.option5 #main-menu .navbar-header{
		margin: 0;
	}
	.option5 #box-vertical-megamenus{
		display: none;
	}
	.option5 #main-menu .navbar-collapse{
		margin-left: 0;
	}
}
/*--------------------
[15. Styles for devices(<=480px)]
*/
@media (max-width: 480px) {
	.group-button-header{
		width: 100%;
		margin-top: 30px;
	}
	.option5 .logo{
		width: 100%;
		margin-top: 15px;
	}

	.main-header .group-button-header .btn-cart:hover .cart-block {
		display: none;
	}
	.option5 .main-header .header-search-box{
		padding-right: 15px;
	}
	.option5 #main-menu .navbar{
		background: none;
	}
	.option5 #main-menu .navbar-header{
		background: #f96d10;
	}
	.option5 #main-menu .navbar-default .navbar-nav>li>a{
		background: none;
		color: #999;
	}
	.option5 #main-menu li.dropdown>a:after {
	  position: absolute;
	  left: inherit;
	  right: 10px;
	  -ms-transform: translateY(-50%);
	  -webkit-transform: translateY(-50%);
	  transform: translateY(-50%);
	  top: 50%;
	  font-size: 12px;
	}
	.option5 #main-menu .navbar .navbar-nav>li:hover,
	.option5 #main-menu .navbar .navbar-nav>li.active{
		background: none;
	}
	.latest-deals-product .count-down-time2{
		position: inherit;
		top: inherit;
		right: inherit;
	}
	.latest-deals-product .owl-prev {
	  top: 50%;
	  left: 0;
	  right: inherit;
	}
	.latest-deals-product .owl-next {
	  top: 50%;
	}
	.option5 .content-page{
		margin-top: 30px;
	}
	.option5 .nav-menu{
		background: #ccc;
	}
	.option5 .nav-menu .nav>li>a{
		margin-left: 0;
		padding: 5px 15px;
	}
	
	.option5 .nav-menu .nav>li>a:after{
		display: none;
	}

	.option5 .product-featured .sub-category-wapper{
		display: none;
	}
	.option5 .product-featured .product-featured-tab-content .box-left{
		width: 100%;
		display: none;
	}
	.option5 .product-featured .product-featured-tab-content .box-right{
		width: 100%;
	}
	.option5 .product-featured .deal-product .deal-product-content .deal-product-info{
		padding-left: 15px;
	}
	.option5 .product-featured .product-featured-tab-content .box-full .product-list li{
		width: 100%;
	}
	.services2 .services2-item .image{
		padding: 15px 30px 0 30px;
	}
	.services2 .services2-item .text{
		padding: 15px 30px;
		text-align: center;
	}
	.option5 .product-featured .manufacture-list{
		display: none;
	}
	.option5 .product-featured .product-list li{
		border-right: none;
	}
	.option5 .product-featured .product-featured-tab-content .category-list-product{
		padding-left: 15px;
		border-left: 1px solid #eaeaea;
	}
	.option5 #main-menu{
		padding: 0;
	}
	.option5 #main-menu .navbar-header{
		margin: 0;
	}
	.option5 #box-vertical-megamenus{
		display: none;
	}
	.option5 #main-menu .navbar-collapse{
		margin-left: 0;
	}

}